.border {
  border-radius: 10px;
  margin: 2px 0px 25px;
  padding: 5px;
  max-width: 500px;
  min-width: 330px;
  width: 100%;
}
.border_test {
  border-radius: 10px;
  margin: 2px -30px 25px;
  padding: 5px;
  max-width: 370px;
  min-width: 230px;
  width: 100%;
}
.ant-collapse-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 10px;
}

.p_1 {
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  color: transparent;
  margin-left: 10px;
}

.hh {
  height: 1px;
}

.name {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  margin-left: 1vw;
  margin-top: 0;
  text-align: start;
}

.price {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 16px;
}

.sub {
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 6px;
  font-size: 10px;
  text-align: start;
  margin-top: -15px;
  margin-bottom: 15px;
  overflow-y: hidden;
}

.description {
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 6px;
  font-size: 12px;
  text-align: start;
  overflow-y: auto;
  height: 60px;
}
.description2 {
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 6px;
  font-size: 12px;
  text-align: start;
}
.description2Teste {
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 6px;
  font-size: 12px;
  text-align: end;
}

.item-enter {
  opacity: 0;
  transform: scale(0.9);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-color);
  outline: 1px solid var(--grey-color);
  border-radius: 50px;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia-bold";
  src: url("../fonts/georgia-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Creepster-Regular";
  src: url("../fonts/Creepster-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Greek-Freak";
  src: url("../fonts/Greek-Freak.ttf") format("truetype");
}

@font-face {
  font-family: "LuckiestGuy-Regular";
  src: url("../fonts/LuckiestGuy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merienda-VariableFont_wght";
  src: url("../fonts/Merienda-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Monoton-Regular";
  src: url("../fonts/Monoton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PressStart2p-Regular";
  src: url("../fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sacramento-Regular";
  src: url("../fonts/Sacramento-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Shojumaru-Regular";
  src: url("../fonts/Shojumaru-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AmaticSC-Regular";
  src: url("../fonts/AmaticSC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Danfo-Regular";
  src: url("../fonts/Danfo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IndieFlower-Regular";
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jacquard24-Regular";
  src: url("../fonts/Jacquard24-Regular.ttf") format("truetype");
}
.georgia-font,
.georgia-bold-font {
  font-family: "Georgia", serif;
}

.creepster-font {
  font-family: "Creepster-Regular", serif;
}

.greek-freak-font {
  font-family: "Greek-Freak", serif;
}

.luckiest-guy-font {
  font-family: "LuckiestGuy-Regular", serif;
}

.merienda-font {
  font-family: "Merienda-VariableFont_wght", serif;
}

.monoton-font {
  font-family: "Monoton-Regular", serif;
}

.press-start-font {
  font-family: "PressStart2p-Regular", serif;
}

.sacramento-font {
  font-family: "Sacramento-Regular", serif;
}

.shojumaru-font {
  font-family: "Shojumaru-Regular", serif;
}

.amatic-font {
  font-family: "AmaticSC-Regular", serif;
}

.danfo-font {
  font-family: "Danfo-Regular", serif;
}

.indie-flower-font {
  font-family: "IndieFlower-Regular", serif;
}

.jacquard-font {
  font-family: "Jacquard24-Regular", serif;
}

img.ant-image-img {
  border-radius: 10px;
}

.ant-collapse-header {
  align-items: center !important;
}
