.ant-table-footer {
  text-align: end;
  padding: 16px 134px !important;
  color: var(--mid-gren);
  border-top: 1px solid var(--low-grey-color);
  border-bottom: 1px solid var(--low-grey-color);
  border-radius: 0;
}

.ant-table-pagination {
  margin: 0;
}

.ant-pagination-item {
  border-radius: 0;
}

.ant-pagination-item-active {
  border-radius: 0;
}

.ant-pagination-item-active a {
  color: var(--primary-color);
}

.ant-pagination-item-active a:hover {
  color: var(--primary-color);
}

.ant-pagination-item-active a:focus {
  color: var(--primary-color);
}

.ant-pagination-item-active a:active {
  color: var(--primary-color);
}

.ant-pagination-item-active:focus {
  border-color: var(--blue-color);
}
